

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #f1f1f1;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Shippori Mincho', serif;
    padding: 0px;
    margin: 0px;
}

img {
    max-width: 100%;
    height: auto;
}

/* Mobile */

@media (max-width: 755px) {

    .content {
        display: grid;
        grid-template-columns: auto;
        padding: .5em;                             
    }

    .center-screen {
        text-align: center;
    }
    
}

/* Bigger than mobile */

@media (min-width: 759px) {
    
    .content {
        display: grid;
        grid-template-columns: 3fr 2fr 3fr;                               
    }
    
    .info {
        grid-column: 2;
    }

    .center-screen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
      }
}


